<a href="{% url 'redirect_to_donate' donation.id %}" class="custom-btn btn">Donate now</a>

{#{% load static %}#}
{##}
{#{% block extra_css %}#}
{#    <link rel="stylesheet" href="{% static 'css/stripe.css' %}">#}
{#{% endblock %}#}
{##}
{#<button id="333" type="button" data-bs-toggle="modal" class="custom-btn btn w-100" data-bs-target="#{{ donation.goal }}">#}
{#    Donate now#}
{#</button>#}
{##}
{#<div class="modal fade" id="{{ donation.goal }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"#}
{#     aria-labelledby="modalCenterTitle" aria-hidden="true">#}
{#    <div class="modal-dialog modal-dialog-centered">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h5 class="modal-title" id="modalCenterTitle">Deleting action</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
{#            <p>{{ donation.title }}</p>#}
{#            <p>{{ donation.description }}</p>#}
{#            <p>{{ keys.pk }}</p>#}
{#            <p>{{ keys.sk }}</p>#}
{#            <fieldset class="px-3">#}
{#                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>#}
{#                <!-- A Stripe card element will go here -->#}
{#                <div class="mb-3" id="card-element"></div>#}
{##}
{#                <!-- Used to display form errors -->#}
{#                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>#}
{#            </fieldset>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
