{% load humanize %}

<div class="col-lg-4 col-md-6 col-12 mb-4">
    <div class="custom-block-wrap">
        <img src="{{ donation.image }}" class="img-fluid" alt="">
        <div class="custom-block">
            <div class="custom-block-body">
                <h5 class="mb-1 mb-sm-2">{{ donation.title|title }}</h5>
                <p>{{ donation.description }}</p>
                <div class="progress mt-4">
                    <div class="progress-bar" role="progressbar" style="width: {{ donation.percentage }}%;"
                         aria-valuenow="{{ donation.percentage }}"
                         aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="d-flex align-items-center my-2">
                    <p class="mb-0">
                        <strong>Raised:</strong>
                        ${{ donation.raised|floatformat:0|intcomma }}
                    </p>

                    <p class="ms-auto mb-0">
                        <strong>Goal:</strong>
                        ${{ donation.goal|intcomma }}
                    </p>
                </div>
            </div>
            {% include "donation/donate_button.html" with donation=donation %}
        </div>
    </div>
</div>