{% extends "base.html" %}

{% block content %}
    <section class="section-padding" id="section_3">
        <div class="container">
            <div class="row">
                {% for donation in donations %}
                    {% include "donation/donation.html" with donation=donation %}
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        window.onload = () => {
            const observer = new IntersectionObserver(entries => {
                let delay = 0;
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const card = entry.target.closest('.col-lg-4.col-md-6.col-12.mb-4');
                        setTimeout(() => card.classList.add('fade-out'), delay);
                        setTimeout(() => card.remove(), delay += 5000);
                        observer.unobserve(entry.target);
                    }
                });
            });

            const cards = document.querySelectorAll('.col-lg-4.col-md-6.col-12.mb-4');
            cards.forEach(card => {
                const button = card.querySelector('button');
                (button && button.textContent.trim() === "Goal reached") && observer.observe(button);
            });
        };
    </script>
{% endblock %}