{% if user.is_superuser %}
    <div class="d-flex gap-1">
        <form action="{% url 'update_donation' donation.id %}" class="w-50">
            <button type="submit" class="custom-btn btn w-100">Edit</button>
        </form>
        {% if donation.raised %}
            <form action="{% url 'delete_donation' donation.id %}" class="w-50" method="post" data-toggle="tooltip"
                  title="Card cannot be deleted because donations have already been made to it">
                {% csrf_token %}
                <button type="submit" class="custom-btn btn w-100" disabled>
                    Delete
                </button>
            </form>
        {% else %}
            <form action="{% url 'delete_donation' donation.id %}" class="w-50" method="post">
                {% csrf_token %}
                <button type="submit" class="custom-btn btn w-100">Delete</button>
            </form>
        {% endif %}
    </div>
{% else %}
    <form action="{% url 'redirect_to_donate' donation.id %}">
        {% if donation.raised < donation.goal %}
            <button type="submit" class="custom-btn btn w-100"> Donate now</button>
        {% else %}
            <button type="submit" class="custom-btn btn w-100" disabled> Goal reached</button>
        {% endif %}
    </form>
{% endif %}
