{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="form-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4 text-center">Donation Card</h2>

                    <form class="custom-form card-form mb-5 mb-lg-0" method="post"
                            {% if donation.id %}
                          action="{% url 'update_donation' donation.id %}"
                            {% else %}
                          action="{% url 'create_donation' %}"
                            {% endif %}
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <input type="text" name="title" id="title" class="form-control" placeholder="Title"
                                       value="{{ donation.title }}" required>
                            </div>

                            <div class="col-lg-4 col-12">
                                <div class="input-group">
                                    <span class="input-group-text adjust-height">$</span>
                                    <input type="number" min="100" name="goal" id="custom-amount" required
                                           class="form-control" placeholder="Goal" value="{{ donation.goal }}">
                                </div>
                            </div>
                        </div>

                        <textarea name="description" rows="3" class="form-control" id="volunteer-message"
                                  placeholder="Description" required>{{ donation.description }}</textarea>

                        <button type="submit" class="form-control">Submit</button>
                    </form>
                </div>

                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{% static 'images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg' %}"
                         class="volunteer-image img-fluid" alt="">

                    <div class="custom-block-body text-center">
                        <h4 class="text-white mt-lg-3 mb-lg-3">About Volunteering</h4>

                        <p class="text-white">Unleash the power of volunteering: Make a difference, connect with others,
                            and find personal fulfillment</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script>
        function assignValue() {
            (this.value === '') && (this.value = 100);
        }

        const customAmountField = document.getElementById('custom-amount');
        ['click', 'focus'].forEach(e => customAmountField.addEventListener(e, assignValue.bind(customAmountField)));

        document.addEventListener('DOMContentLoaded', () => {
            const textarea = document.getElementById('volunteer-message');
            if (textarea.value.trim().length) {
                textarea.style.height = 'auto';
                textarea.style.height = textarea.scrollHeight + 'px';
            }
        });
    </script>
{% endblock %}