{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="volunteer-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-4 text-center">Donation Card</h2>

                    <form class="custom-form volunteer-form mb-5 mb-lg-0" method="post"
                            {% if donation.id %}
                          action="{% url 'update_donation' donation.id %}"
                            {% else %}
                          action="{% url 'create_donation' %}"
                            {% endif %}
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <input type="text" name="title" id="title" class="form-control" placeholder="Title"
                                       value="{{ donation.title }}" required>
                            </div>

                            <div class="col-lg-4 col-12">
                                <input type="number" min="100" name="goal" id="custom-amount"
                                       class="form-control" placeholder="Goal" value="{{ donation.goal }}" required>
                            </div>
                        </div>

                        <textarea name="description" rows="3" class="form-control" id="volunteer-message"
                                  placeholder="Description" required>{{ donation.description }}</textarea>

                        <button type="submit" class="form-control">Submit</button>
                    </form>
                </div>

                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{% static 'images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg' %}"
                         class="volunteer-image img-fluid" alt="">

                    <div class="custom-block-body text-center">
                        <h4 class="text-white mt-lg-3 mb-lg-3">About Volunteering</h4>

                        <p class="text-white">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito
                            Professional charity theme based</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}